baseURL = 'https://example.org/'
languageCode = 'en-US'
title = 'Math Nerd'

[menus]
  [[menus.main]]
    name = 'Home'
    pageRef = '/'
    weight = 10

  [[menus.main]]
    name = 'Posts'
    pageRef = '/posts'
    weight = 20

  [[menus.main]]
    name = 'About ME'
    pageRef = '/about'
    weight = 30

[module]
  [module.hugoVersion]
    extended = false
    min = '0.146.0'

[markup.goldmark.renderer]
  unsafe = true
